.container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
}

.container > div {
  display: inline-flex;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
}

.note_wrapper {
  display: inline-flex;
  align-items: center;
  column-gap: 0.15rem;
}

.note_wrapper > input {
  border: none;
  text-transform: capitalize;
  position: relative;
  z-index: -1;
}

.note_wrapper > p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.add_btn {
  position: relative;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 10em;
  padding: 0.5rem;
  color: #232222;
  column-gap: 0.5rem;
  background-color: #e2e2e2;
  padding: 0.5em 1em;
}

.add_btn::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
  transition: background-size 0.25s ease;
  border-radius: 10px;
}

.disable_btn {
  display: none;
}

.modal_footer {
  display: flex;
  flex-direction: column;
  border: none;
}

.modal_footer button {
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  background: var(--primaryColor);
  color: #fff;
}

.modal_footer button:last-child {
  background: transparent;
  color: rgb(242, 102, 83);
}

.modal_header {
  color: rgba(52, 64, 117, 1);
  font-weight: 500;
  border: none;
}

.modal_input {
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  background-color: rgba(244, 246, 249, 1);
  margin-bottom: 2rem;
}
