@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transparent: rgba(0, 0, 0, 0);
  --white: #ffffff;
  --black: #000000;
  --lightGrey: #cfd9e2;
  --lighterGrey: #e6ebef;
  --lightBlue: #3553ff;
  --darkGrey: #1d1d1d;
  --blue: #3050c4;
  --orange: #ff7e1c;
  --sky: #c3ccff;
  --primary: #fc5805;
  --primaryColorDisabled: #c54404;
  --primary3: #010101;
  --primary4: #fe990d;
  --primary4Disabled: #b36800;
  --primary5: #ffad0d;
  --blue5: #4453e2;
  --grey0: #3a3c51;
  --grey1: #61637a;
  --grey2: #9292a0;
  --grey3: #aeaeb8;
  --grey4: #e2e2e4;
  --grey5: #f2f2f4;
  --loaderForeground: #ecebeb;
  --loaderBackground: #f3f3f3;
  --green: #00a700;
  --error: #dc2626;
  --error9: #fee2e2;
  --warning: #f59e0b;
}

[data-joy-color-scheme="light"] {
  --logoInputColor: var(--black);
  --inputColor: var(--white);
  --primaryColor: var(--primary);
  --primaryColorDisabled: var(--primaryColorDisabled);

}

[data-joy-color-scheme="dark"] {
  --logoInputColor: var(--white);
  --inputColor: var(--black);
  --primaryColor: var(--primary4);
  --primaryColorDisabled: var(--primary4Disabled);

}
