export DOCKER_HOST_IP=${DOCKER_HOST_IP:-127.0.0.1}
export NETWORK=regtest
export NODE_ENV=development

export LND1_TLS=$(cat dev/lnd/tls.cert.base64)
export LND1_TLS_KEY=$(cat dev/lnd/tls.key.base64)
export LND2_TLS=$LND1_TLS
export LNDONCHAIN_TLS=$LND1_TLS
export TLSOUTSIDE1=$LND1_TLS
export TLSOUTSIDE2=$LND1_TLS

export LND1_MACAROON=$(cat dev/lnd/$NETWORK/lnd1.admin.macaroon.base64)
export LND2_MACAROON=$(cat dev/lnd/$NETWORK/lnd2.admin.macaroon.base64)
export LNDONCHAIN_MACAROON=""
export MACAROONOUTSIDE1=$(cat dev/lnd/$NETWORK/lnd-outside-1.admin.macaroon.base64)
export MACAROONOUTSIDE2=$(cat dev/lnd/$NETWORK/lnd-outside-2.admin.macaroon.base64)

export LND1_LOOP_MACAROON=$(cat dev/lnd/loop/$NETWORK/loopd1-1.loop.macaroon.base64)
export LND2_LOOP_MACAROON=$(cat dev/lnd/loop/$NETWORK/loopd2-1.loop.macaroon.base64)
export LND1_LOOP_TLS=$(cat dev/lnd/loop/$NETWORK/loopd1-1.tls.cert.base64)
export LND2_LOOP_TLS=$(cat dev/lnd/loop/$NETWORK/loopd2-1.tls.cert.base64)

export LND1_PUBKEY=$(cat dev/lnd/$NETWORK/lnd1.pubkey)
export LND2_PUBKEY=$(cat dev/lnd/$NETWORK/lnd2.pubkey)
export LNDONCHAIN_PUBKEY=""

export BITCOINDPORT=18443
export BITCOINDADDR=${DOCKER_HOST_IP}
export BITCOINDRPCPASS=rpcpassword

export LND1_DNS=${DOCKER_HOST_IP}
export LND2_DNS=${DOCKER_HOST_IP}
export LNDONCHAIN_DNS=${DOCKER_HOST_IP}
export LNDOUTSIDE1ADDR=${DOCKER_HOST_IP}
export LNDOUTSIDE2ADDR=${DOCKER_HOST_IP}

export LND1_RPCPORT=10009
export LND2_RPCPORT=10010
export LNDONCHAIN_RPCPORT=10011
export LNDOUTSIDE1RPCPORT=10012
export LNDOUTSIDE2RPCPORT=10013

export MONGODB_ADDRESS=${DOCKER_HOST_IP}:27017
export MONGODB_PASSWORD=password

export REDIS_0_INTERNAL_IP=${DOCKER_HOST_IP}
export REDIS_0_PORT=6379
export REDIS_0_DNS=${DOCKER_HOST_IP}
export REDIS_0_SENTINEL_PORT=26379

export PRICE_HOST=${DOCKER_HOST_IP}
export PRICE_PORT=50051

export PRICE_HISTORY_HOST=${DOCKER_HOST_IP}
export PRICE_HISTORY_PORT=50052

export LOCAL=docker-compose
export JWT_SECRET="jwt_secret"

export GEETEST_ID="geetest_id"
export GEETEST_KEY="geetest_key"

export TWILIO_ACCOUNT_SID="AC_twilio_id"
export TWILIO_AUTH_TOKEN="AC_twilio_auth_token"
export TWILIO_PHONE_NUMBER="twilio_phone"

export COMMITHASH="hash"
export BUILDTIME="2022"
export HELMREVISION="1"
