node_modules/

yarn-error.log

galoyapp-firebase-serviceaccont.json
keys.json
quokka.ts
tmp*
src/tool/records.csv
src/tool/users_balance.csv
src/tool/record_transactions_*.csv

.vscode
*.DS_Store
charts/configs/*
!charts/configs/lnd
charts/configs/lnd/*
!charts/configs/lnd/regtest.yaml
!charts/configs/lnd/regtest-outside.yaml
!charts/configs/lnd/localdev.yaml
!charts/configs/lnd/localdev-outside.yaml

!charts/configs/bitcoind
charts/configs/bitcoind/*
!charts/configs/bitcoind/regtest.yaml
!charts/configs/bitcoind/localdev.yaml

coverage
lib
artifacts
