## Compiled JavaScript files
dist/**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

yarn-error.log

galoyapp-firebase-serviceaccont.json
keys.json
quokka.ts
tmp*
src/tool/records.csv
src/tool/users_balance.csv
src/tool/record_transactions_*.csv

.nvmrc

.vscode
*.DS_Store

public/*
!public/logo.png

coverage
dist
artifacts

generated.gql
.swc

.envrc.secrets
.envrc.local

# bats e2e tests
-
.e2e-*.log
.*_pid

junit.xml

.next

.env.local

# Buck
/buck-out/

# Nix builds
/result

# direnv
.direnv

# rust
target

# vendir
/.vendir-tmp/

#pnpm
.pnpm-store
