.digits_container {
  margin-top: 1rem;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.output > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
}

.output .pin_icon {
  width: 18px;
  height: 18px;
}

.pin_btn {
  font-weight: 600;
  font-size: 0.75rem;
  background-color: transparent;
  color: black;
  outline: none;
  border: none;
  position: absolute;
  left: 0%;
  width: fit-content;
}

.zero_order {
  order: 0;
  font-size: 2rem;
  font-weight: 600;
}

.first_order {
  order: 1;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

.digits_grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 3rem);
  grid-template-rows: repeat(4, 2rem);
  row-gap: 3.5rem;
  column-gap: 5rem;
  margin: 2rem;
}

.digits_grid > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 500;
  line-height: 48px;
  color: rgba(17, 25, 40, 1);
}

.digits_grid > button:hover,
.digits_grid > button:focus,
.digits_grid > button:focus-visible {
  border: 1px solid rgb(233, 233, 236);
}

@media (min-width: 760px) {
  .digits_grid {
    grid-template-columns: repeat(3, 4rem);
    grid-template-rows: repeat(4, 4rem);
    row-gap: 0.65rem;
    column-gap: 7rem;
  }
}

.pay_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.pay_btn,
.pay_new_btn {
  background: var(--primaryColor);
  color: #fff;
  font-weight: 600;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border: none;
  outline: none;
  padding: 10px 32px;
  border-radius: 10em;
  order: 2;
}

.pay_new_btn {
  border-radius: 10em;
  width: 327px;
  height: 50px;
  margin-bottom: 1rem;
}

.clear_btn {
  position: relative;
  color: #232222;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border: none;
  border-radius: 10em;
  outline: none;
  font-weight: 600;
  padding: 10px 12px;
  order: 1;
  transition: all 0.5s ease;
}

@media (min-width: 760px) {
  .pay_btn {
    width: 327px;
  }
}

.invoice_container {
  display: grid;
  place-items: center;
}

@keyframes timer {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.timer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  column-gap: 15px;
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 5px;
}

.timer_container > p {
  margin: 0;
}

.timer {
  background-color: rgb(233, 233, 236);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.timer > span {
  height: 100%;
  transition: width 0.5s ease;
}

.modal_header {
  font-size: 20px;
  font-weight: 600;
}

.modal_item_wrapper {
  display: grid;
  gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: 64px repeat(auto-fill, 64px);

  margin: 8px 0px;
}
.modal_item {
  height: 64px;
  width: 64px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.use_bbw_button {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(268.08deg, #fb5607 8.75%, #ffbe0b 98.45%);
  color: #fff;
  font-weight: 600;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 32px;
  border-radius: 6px;
  margin-bottom: 16px;
}

.qr_clipboard {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em 1em;
}

.qr_clipboard > button {
  width: fit-content;
  background-color: transparent;
  color: rgba(145, 155, 186, 1);
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  column-gap: 5px;
  cursor: pointer;
}

.qr_clipboard > button:first-child {
  cursor: copy;
}

.qr_clipboard > button:first-child:hover {
  color: green;
}

.qr_clipboard .share_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: green;
  padding: 30% 1rem;
  margin-top: 2rem;
  outline: 1px dashed rgba(0, 128, 0, 0.35);
}

.error {
  flex-direction: column;
  padding: 15% 1rem;
}

.error > p {
  text-align: center;
}

@media (min-width: 760px) {
  .loading {
    padding: 1rem 0;
    outline: none;
  }
}

.loader {
  border: 8px solid #f4570e;
  border-top: 5px solid rgb(242, 170, 83);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  outline: 1px dashed rgba(255, 0, 0, 0.35);
}

.spinner {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #555;
  animation: spinKeyFrame 1s infinite linear;
}

@keyframes spinKeyFrame {
  to {
    transform: rotate(360deg);
  }
}
