.Button {
  border-radius: 0.5em;
  border-width: 0.124em;
  border-color: var(--orange);
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5em 1em;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 100%;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button:hover {
  background: var(--gradient-orange);
  color: rgb(255, 255, 255);
}

.EnabledButton {
  border-radius: 0.5em;
  border-width: 0.124em;
  border-color: var(--orange);
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5em 1em;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 100%;
  background: var(--gradient-orange);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
