use flake

INTEGRATION_ENV_FILE=../../dev/core-bundle/integration-env.json
for key in $(jq -r 'keys[]' $INTEGRATION_ENV_FILE); do
  value=$(jq -r --arg k "$key" '.[$k]' $INTEGRATION_ENV_FILE)
  export $key="$value"
done
