#@data/values
---
version: "3"
services:
  bats-deps:
    image: busybox
    depends_on:
      - apollo-router
      - redis
      - mongodb
      - oathkeeper
      - kratos
      - price
      - stablesats
      - bria
      - bitcoind
      - bitcoind-signer
      - lnd1
      - lnd2
      - lnd-outside-1
      - svix
      - lnd-outside-2
      - hydra
      - mailslurper
    restart: on-failure:10
  integration-deps:
    image: busybox
    depends_on:
      - redis
      - mongodb
      - bitcoind
      - bitcoind-signer
      - stablesats
      - bria
      - lnd1
      - lnd2
      - lnd-outside-1
      - lnd-outside-2
      - otel-agent
    restart: on-failure:10
  apollo-router:
    image: ghcr.io/apollographql/router:v1.25.0
    ports:
      - "4004:4004"
    extra_hosts:
      - "bats-tests:host-gateway"
    environment:
      - APOLLO_ROUTER_SUPERGRAPH_PATH=/repo/dev/apollo-federation/supergraph.graphql
      - APOLLO_ROUTER_CONFIG_PATH=/repo/dev/apollo-federation/router.yaml
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev:/repo/dev
  otel-agent:
    ports:
      - "4318:4318" #! http receiver
    image: otel/opentelemetry-collector-contrib:0.84.0
    command: ["--config=/etc/otel-agent-config.yaml"]
    environment:
      - HONEYCOMB_DATASET=${HONEYCOMB_DATASET}
      - HONEYCOMB_API_KEY=${HONEYCOMB_API_KEY}
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/otel-agent-config.yaml:/etc/otel-agent-config.yaml
  price:
    image: us.gcr.io/galoy-org/price:edge
    ports:
      - "50051:50051"
      - "9464:9464"
  price-history:
    image: us.gcr.io/galoy-org/price-history:edge
    ports:
      - "50052:50052"
    command: ./scripts/run-servers-dev.sh
    environment:
      - DB_HOST=postgres-price-history
      - DB_PORT=5432
      - DB_USER=galoy-price-usr
      - DB_PWD=galoy-price-pwd
      - DB_DB=galoy-price-history
      - DB_POOL_MIN=1
      - DB_POOL_MAX=5
      - DB_DEBUG=false
    depends_on:
      - postgres-price-history
      - price-history-migrate
  price-history-migrate:
    image: us.gcr.io/galoy-org/price-history-migrate:edge
    ports: []
    environment:
      - DB_HOST=postgres-price-history
      - DB_PORT=5432
      - DB_USER=galoy-price-usr
      - DB_PWD=galoy-price-pwd
      - DB_DB=galoy-price-history
      - DB_POOL_MIN=1
      - DB_POOL_MAX=5
      - DB_DEBUG=false
    depends_on: [postgres-price-history]
  redis:
    image: redis:7.0.8
    ports:
      - "6379:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
  mongodb-migrate:
    depends_on: [mongodb]
    build:
      context: ../..
      dockerfile: core/api/Dockerfile-migrate
    environment:
      - MONGODB_ADDRESS=mongodb
  mongodb:
    image: mongo:${MONGODB_VERSION:-7.0.2}
    ports:
      - "27017:27017"
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=127.0.0.1
      - MONGO_INITDB_DATABASE=galoy
  postgres-price-history:
    image: postgres:14.1
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=galoy-price-usr
      - POSTGRES_PASSWORD=galoy-price-pwd
      - POSTGRES_DB=galoy-price-history
  bitcoind:
    image: lncm/bitcoind:v25.1
    ports:
      - "18443:18443"
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/bitcoind/bitcoin.conf:/data/.bitcoin/bitcoin.conf
  bitcoind-signer:
    image: lncm/bitcoind:v25.1
    ports:
      - "18543:18443"
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/bitcoind/bitcoin.conf:/data/.bitcoin/bitcoin.conf
    depends_on: [bitcoind]
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        bitcoind -connect=bitcoind:18444
  lnd1:
    image: lightninglabs/lnd:v0.17.1-beta
    ports:
      - "10009:10009"
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/lnd.conf:/root/.lnd/lnd.conf
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.key:/root/.lnd/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.cert:/root/.lnd/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd1.wallet.db:/root/.lnd/wallet.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd1.macaroons.db:/root/.lnd/macaroons.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd1.admin.macaroon:/root/.lnd/admin.macaroon
    depends_on: [bitcoind]
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        mkdir -p /root/.lnd/data/chain/bitcoin/regtest/
        cp /root/.lnd/wallet.db /root/.lnd/data/chain/bitcoin/regtest/wallet.db
        cp /root/.lnd/macaroons.db /root/.lnd/data/chain/bitcoin/regtest/macaroons.db
        cp /root/.lnd/admin.macaroon /root/.lnd/data/chain/bitcoin/regtest/admin.macaroon
        /bin/lnd
  lnd2:
    image: lightninglabs/lnd:v0.17.1-beta
    ports:
      - "10010:10009"
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/lnd.conf:/root/.lnd/lnd.conf
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.key:/root/.lnd/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.cert:/root/.lnd/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd2.wallet.db:/root/.lnd/wallet.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd2.macaroons.db:/root/.lnd/macaroons.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd2.admin.macaroon:/root/.lnd/admin.macaroon
    depends_on: [bitcoind]
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        mkdir -p /root/.lnd/data/chain/bitcoin/regtest/
        cp /root/.lnd/wallet.db /root/.lnd/data/chain/bitcoin/regtest/wallet.db
        cp /root/.lnd/macaroons.db /root/.lnd/data/chain/bitcoin/regtest/macaroons.db
        cp /root/.lnd/admin.macaroon /root/.lnd/data/chain/bitcoin/regtest/admin.macaroon
        /bin/lnd
  lnd-outside-1:
    image: lightninglabs/lnd:v0.17.1-beta
    ports:
      - "10012:10009"
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/lnd.conf:/root/.lnd/lnd.conf
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.key:/root/.lnd/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.cert:/root/.lnd/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd-outside-1.wallet.db:/root/.lnd/wallet.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd-outside-1.macaroons.db:/root/.lnd/macaroons.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd-outside-1.admin.macaroon:/root/.lnd/admin.macaroon
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        mkdir -p /root/.lnd/data/chain/bitcoin/regtest/
        cp /root/.lnd/wallet.db /root/.lnd/data/chain/bitcoin/regtest/wallet.db
        cp /root/.lnd/macaroons.db /root/.lnd/data/chain/bitcoin/regtest/macaroons.db
        cp /root/.lnd/admin.macaroon /root/.lnd/data/chain/bitcoin/regtest/admin.macaroon
        /bin/lnd
    depends_on: [bitcoind]
  lnd-outside-2:
    image: lightninglabs/lnd:v0.17.1-beta
    ports:
      - "10013:10009"
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/lnd.conf:/root/.lnd/lnd.conf
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.key:/root/.lnd/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.cert:/root/.lnd/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd-outside-2.wallet.db:/root/.lnd/wallet.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd-outside-2.macaroons.db:/root/.lnd/macaroons.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd-outside-2.admin.macaroon:/root/.lnd/admin.macaroon
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        mkdir -p /root/.lnd/data/chain/bitcoin/regtest/
        cp /root/.lnd/wallet.db /root/.lnd/data/chain/bitcoin/regtest/wallet.db
        cp /root/.lnd/macaroons.db /root/.lnd/data/chain/bitcoin/regtest/macaroons.db
        cp /root/.lnd/admin.macaroon /root/.lnd/data/chain/bitcoin/regtest/admin.macaroon
        /bin/lnd
    depends_on: [bitcoind]
  loopserver:
    image: lightninglabs/loopserver:v0.9.52-beta
    ports:
      - "11009:11009"
    restart: unless-stopped
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/lnd.conf:/root/.lnd/lnd.conf
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.key:/root/.lnd/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.cert:/root/.lnd/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/server/regtest:/root/.lnd/data/chain/bitcoin/regtest
    depends_on:
      - lnd-outside-1
    command:
      - "daemon"
      - "--maxamt=5000000"
      - "--lnd.host=lnd-outside-1:10009"
      - "--lnd.macaroondir=/root/.lnd/data/chain/bitcoin/regtest"
      - "--lnd.tlspath=/root/.lnd/tls.cert"
  loopd1:
    image: lightninglabs/loop:v0.20.1-beta
    ports:
      - "8081:8081"
      - "11010:11010"
    restart: unless-stopped
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/lnd.conf:/root/.lnd/lnd.conf
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.key:/root/.lnd/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.cert:/root/.lnd/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd1.admin.macaroon:/root/.lnd/lnd1.admin.macaroon
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd1-1.macaroons.db:/root/.loop/tmp/macaroons.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd1-1.loop.db:/root/.loop/tmp/loop.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd1-1.tls.key:/root/.loop/tmp/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd1-1.tls.cert:/root/.loop/tmp/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd1-1.loop.macaroon:/root/.loop/tmp/loop.macaroon
    depends_on:
      - lnd1
      - loopserver
    environment:
      - LOOP_SERVER_INTERNAL_IP=${LOOP_SERVER_INTERNAL_IP}
    command: bash -c "
      mkdir -p /root/.loop/regtest/ &&
      cp /root/.loop/tmp/* /root/.loop/regtest/ &&
      loopd\
      --network=regtest\
      --debuglevel=debug\
      --server.host=${LOOP_SERVER_INTERNAL_IP}:11009\
      --server.notls --lnd.host=lnd1:10009\
      --lnd.macaroonpath=/root/.lnd/lnd1.admin.macaroon\
      --lnd.tlspath=/root/.lnd/tls.cert\
      --tlsautorefresh\
      --restlisten=0.0.0.0:8081\
      --rpclisten=0.0.0.0:11010"
  loopd2:
    image: lightninglabs/loop:v0.20.1-beta
    ports:
      - "8082:8081"
      - "11011:11010"
    restart: unless-stopped
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/lnd.conf:/root/.lnd/lnd.conf
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.key:/root/.lnd/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/tls.cert:/root/.lnd/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/regtest/lnd2.admin.macaroon:/root/.lnd/lnd2.admin.macaroon
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd2-1.macaroons.db:/root/.loop/tmp/macaroons.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd2-1.loop.db:/root/.loop/tmp/loop.db
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd2-1.tls.key:/root/.loop/tmp/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd2-1.tls.cert:/root/.loop/tmp/tls.cert
      - ${HOST_PROJECT_PATH:-.}/dev/lnd/loop/regtest/loopd2-1.loop.macaroon:/root/.loop/tmp/loop.macaroon
    depends_on:
      - lnd2
      - loopserver
    environment:
      - LOOP_SERVER_INTERNAL_IP=${LOOP_SERVER_INTERNAL_IP}
    command: bash -c "
      mkdir -p /root/.loop/regtest/ &&
      cp /root/.loop/tmp/* /root/.loop/regtest/ &&
      loopd\
      --network=regtest\
      --debuglevel=debug\
      --server.host=${LOOP_SERVER_INTERNAL_IP}:11009\
      --server.notls --lnd.host=lnd2:10009\
      --lnd.macaroonpath=/root/.lnd/lnd2.admin.macaroon\
      --lnd.tlspath=/root/.lnd/tls.cert\
      --tlsautorefresh\
      --restlisten=0.0.0.0:8081\
      --rpclisten=0.0.0.0:11010"
  stablesats:
    image: us.gcr.io/galoy-org/stablesats-rs:latest
    ports:
      - "3325:3325"
    command: ["stablesats", "run"]
    working_dir: /repo/dev
    depends_on:
      - otel-agent
    restart: on-failure:10
    volumes:
      - ${HOST_PROJECT_PATH:-.}/:/repo
  bria:
    image: us.gcr.io/galoy-org/bria:latest
    ports:
      - "2743:2743"
      - "2742:2742"
    environment:
      - PG_CON=postgres://user:password@postgres-bria:5432/pg
      - BITCOIND_SIGNER_ENDPOINT=https://bitcoind-signer:18443
    command:
      - bria
      - daemon
      - --config
      - /repo/dev/bria.yml
      - dev
      - -x
      - tpubDDDDGYiFda8HfJRc2AHFJDxVzzEtBPrKsbh35EaW2UGd5qfzrF2G87ewAgeeRyHEz4iB3kvhAYW1sH6dpLepTkFUzAktumBN8AXeXWE9nd1
      - -d
      - m/84h/0h/0h
    depends_on:
      bitcoind-signer:
        condition: service_started
      otel-agent:
        condition: service_started
      fulcrum:
        condition: service_started
      postgres-bria:
        condition: service_healthy
    restart: on-failure:10
    volumes:
      - ${HOST_PROJECT_PATH:-.}/:/repo
  postgres-bria:
    image: postgres:14.1
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=pg
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 30s
      retries: 5
  oathkeeper:
    image: oryd/oathkeeper:v0.40.6-distroless
    ports:
      - "4455:4455"
      - "4456:4456"
    extra_hosts:
      - "bats-tests:host-gateway"
    command: serve -c /home/ory/oathkeeper.yml --sqa-opt-out
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/ory:/home/ory
  kratos:
    image: oryd/kratos:v1.0.0
    extra_hosts:
      - "bats-tests:host-gateway"
    ports:
      - "4433:4433" #! public
      - "4434:4434" #! admin
    entrypoint: sh -c
    command: '"kratos migrate sql up -y -e && kratos serve -c /home/ory/kratos.yml --watch-courier --sqa-opt-out"'
    environment:
      DSN: postgres://dbuser:secret@kratos-pg:5432/default?sslmode=disable
    links:
      - kratos-pg:kratos-pg
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/ory:/home/ory
  kratos-pg:
    image: postgres:14.1
    ports:
      - "5433:5432"
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=default
  mailslurper:
    image: oryd/mailslurper:latest-smtps
    ports:
      - "4436:4436"
      - "4437:4437"
  fulcrum:
    image: cculianu/fulcrum:latest
    ports:
      - "50001:50001"
    depends_on: [bitcoind]
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/fulcrum/fulcrum.conf:/fulcrum.conf
      - ${HOST_PROJECT_PATH:-.}/dev/fulcrum/tls.key:/tls.key
      - ${HOST_PROJECT_PATH:-.}/dev/fulcrum/tls.cert:/tls.cert
    environment:
      - DATA_DIR=/db
      - SSL_CERTFILE=/tls.cert
      - SSL_KEYFILE=/tls.key
    command: ["Fulcrum", "/fulcrum.conf"]

  svix:
    image: svix/svix-server:v1.11
    platform: linux/amd64
    environment:
      WAIT_FOR: "true"
      SVIX_DB_DSN: "postgresql://postgres:postgres@svix-pg/postgres"
      SVIX_JWT_SECRET: "8KjzRXrKkd9YFcNyqLSIY8JwiaCeRc6WK4UkMnSW"
      SVIX_WHITELIST_SUBNETS: "[0.0.0.0/0]"
      SVIX_QUEUE_TYPE: "memory"
    depends_on:
      - svix-pg
    ports:
      - "8071:8071"
    extra_hosts:
      - "bats-tests:host-gateway"

  svix-pg:
    image: postgres:14.1
    environment:
      POSTGRES_PASSWORD: postgres

  hydra:
    image: oryd/hydra:v2.1.2
    ports:
      - "4444:4444" #! Public port
      - "4445:4445" #! Admin port
    extra_hosts: []
    command: serve -c /home/ory/hydra.yml all --dev
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/ory:/home/ory
    environment:
      - DSN=postgres://hydra:secret@postgresdhydra:5432/hydra?sslmode=disable&max_conns=20&max_idle_conns=4
    restart: unless-stopped
    depends_on:
      - hydra-migrate
      - postgresdhydra

  hydra-migrate:
    image: oryd/hydra:v2.1.2
    environment:
      - DSN=postgres://hydra:secret@postgresdhydra:5432/hydra?sslmode=disable&max_conns=20&max_idle_conns=4
    command: migrate -c /home/ory/hydra.yml sql -e --yes
    volumes:
      - ${HOST_PROJECT_PATH:-.}/dev/ory:/home/ory

    restart: on-failure
    depends_on:
      - postgresdhydra

  postgresdhydra:
    image: postgres:14.1
    environment:
      - POSTGRES_USER=hydra
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=hydra
    ports:
      - "5434:5432"
