extends layout

block content
  h1 You have reached the User Login & Consent Flow reference implementation!
  p This application will give you an idea of how you could implement the login and consent endpoints yourself. Keep in mind, that this application does not actually solve user login, it has only one user for testing.
