.invoiceContainer {
  display: grid;
  place-items: center;
}

.timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  column-gap: 15px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 5px;
}

.timerContainer > p {
  margin: 0;
}

.qrClipboard {
  text-align: center;
  justify-content: space-between;
  padding: 0.3em 1em;
}

.qrClipboard > button {
  width: fit-content;
  background-color: transparent;
  color: rgba(145, 155, 186, 1);
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  column-gap: 5px;
  cursor: pointer;
}
.qrClipboard > .expirationLabel {
  font-size: 12px;
}

.qrClipboard > button:first-child {
  float: left;
  cursor: copy;
}

.qrClipboard > button:first-child:hover {
  color: green;
}

.qrClipboard > button:last-child {
  float: right;
}

.amountContainer {
  width: 100%;
  border: 0px;
  color: black;
  background-color: transparent;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  height: 3rem;
}

.error {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15% 1rem;
  margin-top: 2rem;
  outline: 1px dashed rgba(255, 0, 0, 0.35);
  flex-direction: column;
}

.error > p {
  text-align: center;
}

.copyAndShare {
  display: flex;
  align-items: center;
}

.textBetween {
  margin-right: 10px; /* Adjust as needed */
}

.secondaryBtn {
  background: var(--lighterGrey);
  color: #000000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: 0.9em 3em;
  border-radius: 10em;
  gap: 0.5em;
  cursor: pointer;
}
