{{#> base}}
<tr>
    <td align="center" style="background-color: #fff; padding: 20px">
    <h2 style="margin-top: 0; margin-bottom: 20px; font-size: 20px">
        {{subject}}
    </h2>
    <p
        style="
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.5;
        "
    >
        {{body}}
    </p>
    </td>
</tr>
{{/base}}
