.usernameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.usernameContainer > button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  position: absolute;
  left: -50%;
  transition: all 0.5s ease;
}

.usernameContainer > button:hover,
.usernameContainer > button:focus {
  outline: 1px solid rgba(239, 241, 245, 1);
  border-radius: 50%;
  padding: 0.75rem 0.85rem;
}

.username {
  color: rgba(17, 25, 40, 1);
  font-weight: 600;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 6px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .username {
    display: none;
  }
}
