.paymentContainer {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 1em;
  width: 95%;
  max-width: 40em;
  margin: 0 auto;
  align-self: center;
  margin-top: 1em;
}

.pinBtn {
  --black-900: rgba(17, 25, 40, 1);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 12px;
  background-color: transparent;
  color: var(--black-900);
  outline: none;
  border: none;
}

.usernameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.usernameContainer > button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  position: absolute;
  left: -50%;
  transition: all 0.5s ease;
}

.usernameContainer > button:hover,
.usernameContainer > button:focus {
  outline: 1px solid rgba(239, 241, 245, 1);
  border-radius: 50%;
  padding: 0.75rem 0.85rem;
}

.username {
  color: rgba(17, 25, 40, 1);
  font-weight: 600;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.error {
  color: rgb(224, 6, 6);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  display: grid;
  padding: 0 1rem;
  place-content: center;
  height: calc(100vh - 2rem);
}

.error > p:last-child {
  color: rgb(45, 43, 43);
}

@media (max-width: 768px) {
  .paymentContainer {
    box-shadow: none;
    margin-top: 0;
    width: 100%;
  }

  .username {
    display: none;
  }
}
