global:
  network: regtest

terminationGracePeriodSeconds: 0

persistence:
  enabled: false

configmap:
  customValues:
  - bitcoin.regtest=true
  - bitcoin.defaultchanconfs=0
  - noseedbackup=1
  - bitcoind.rpchost=bitcoind:18443
  - keysend-hold-time=2s
  - routing.assumechanvalid=true

loop:
  enabled: false

rtl:
  enabled: false
