name: Buck2 test
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, labeled, unlabeled]

jobs:
  buck2-test:
    name: Buck2 Test
    runs-on: ubuntu-latest
    steps:
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v4
      - name: Run the Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v2
      - uses: actions/checkout@v3
      - name: Prepare Buck2 test args from labels
        id: prepare_args
        run: |
          ARGS=""

          cat <<EOF > labels.json
          ${{ toJSON(github.event.pull_request.labels.*.name) }}
          EOF

          DEFAULT_LABELS=("dashboard" "consent" "pay" "core" "api-keys" "notifications" "admin-panel")
          LABELS=($(jq -r '.[]' < labels.json))
          if [ ${#LABELS[@]} -eq 0 ]; then
              LABELS=("${DEFAULT_LABELS[@]}")
          fi

          for LABEL in "${LABELS[@]}"; do
            case "$LABEL" in
              dashboard|consent|pay|admin-panel)
                ARGS+=" //apps/$LABEL:test"
                ;;
              core)
                ARGS+=" //core/api:test"
                ;;
              api-keys|notifications)
                ARGS+=" //core/$LABEL:$LABEL"
                ;;
            esac
          done

          echo "Prepared args: $ARGS"
          echo "args=$ARGS" >> "$GITHUB_OUTPUT"
      - name: Buck2 test
        if: steps.prepare_args.outputs.args != ''
        run: nix develop -c buck2 test ${{ steps.prepare_args.outputs.args }}
