name: CI

on: [push]

jobs:
  test:
    name: Check Schema
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: kamilkisiela/graphql-inspector@master
        with:
          schema: "main:core/api/src/graphql/public/schema.graphql"
