name: "Integration test"
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, labeled, unlabeled]

jobs:
  tests:
    name: Integration test
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 12288
          temp-reserve-mb: 12288
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v22
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Prepare tilt args from labels
        id: prepare_args
        run: |
          ARGS=""

          cat <<EOF > labels.json
          ${{ toJSON(github.event.pull_request.labels.*.name) }}
          EOF

          DEFAULT_LABELS=("dashboard" "consent" "pay" "core" "admin-panel" "blink-map")
          LABELS=($(jq -r '.[]' < labels.json))
          if [ ${#LABELS[@]} -eq 0 ]; then
              LABELS=("${DEFAULT_LABELS[@]}")
          elif [ ${#LABELS[@]} -eq 1 ] && [ "${LABELS[0]}" = "ci" ]; then
              LABELS=("${DEFAULT_LABELS[@]}")
          fi

          for LABEL in "${LABELS[@]}"; do
            case "$LABEL" in
              dashboard|consent|pay|core|admin-panel)
                ARGS+=" $LABEL"
                ;;
            esac
          done

          echo "Prepared args: $ARGS"
          echo "args=$ARGS" >> "$GITHUB_OUTPUT"
      - name: Build/start deps and run tests via tilt
        id: tilt_test
        if: steps.prepare_args.outputs.args != ''
        run: nix develop -c xvfb-run ./dev/bin/tilt-ci.sh ${{ steps.prepare_args.outputs.args }}
      - name: Rename Tilt log
        if: steps.tilt_test.outcome == 'success' || steps.tilt_test.outcome == 'failure'
        run: mv dev/.e2e-tilt.log dev/e2e-tilt.log
      - name: Upload Tilt log
        if: steps.tilt_test.outcome == 'success' || steps.tilt_test.outcome == 'failure'
        uses: actions/upload-artifact@v2
        with:
          name: Tilt log
          path: dev/e2e-tilt.log
