name: "Migrate Mongodb"

on:
  pull_request:
    branches: [main]

jobs:
  migrate_mongodb:
    name: Migrate Mongodb
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v4
      - name: Run the Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v2
      - uses: actions/checkout@v4
      - run: cd core/api && nix develop -c pnpm install --frozen-lockfile
      - name: Run clean mongodb migration
        run: cd core/api/ && nix develop -c make test-migrate
