.container {
  position: relative;
  height: 100vh;
  right: 0;
  left: 0;
  margin-top: 1rem;
}

.container li {
  list-style: none;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav_menu {
  display: none;
  padding-top: 2rem;
  position: absolute;
  right: 0%;
  top: 105%;
  z-index: 10;
  width: 80%;
  font-weight: 600;
  font-size: 21px;
  color: #61637a;
  height: 100vh;
  font-size: 18px;
}

.nav_menu_bg {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav_menu a {
  color: #61637a;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: baseline;
  column-gap: 10px;
  padding-left: 1rem;
}

.nav_menu li:first-child {
  text-transform: lowercase;
}

.nav_menu li::first-letter {
  text-transform: uppercase;
}

.nav_home {
  cursor: "pointer";
  border: 0;
  background-color: rgba(255, 0, 0, 0);
}

.lightning_addr {
  padding-left: 1rem;
}

.lightning_addr > li:first-child {
  display: flex;
  align-items: baseline;
  column-gap: 10px;
}

.lightning_addr > div {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
}

.lightning_addr > li > span::first-letter {
  text-transform: uppercase;
}

.lightning_addr p {
  margin: 0;
}

.lightning_addr img {
  margin-top: 8px;
}

.lightning_addr > div:nth-child(2) {
  display: flex;
  column-gap: 10px;
  margin-top: 1rem;
}

.lightning_addr > div:nth-child(2) button {
  background: var(--primary);
  color: #fff;
  padding: 0.45rem 0.75rem;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-weight: 500;
  font-size: 0.975rem;
  transition: 0.2s border;
}

.lightning_addr > div:nth-child(2) button:hover {
  border: 1px solid rgba(22, 31, 71, 0.414);
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 6px;
  cursor: pointer;
}

.hamburger > span {
  width: 30px;
  height: 2px;
  border-radius: 8px;
  background-color: #000;
  transition: 0.3s all;
}

.hamburger > .toggle:last-child {
  background-color: rgba(83, 111, 242, 1);
  transform: rotateY(-40deg);
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
}

.hamburger > .toggle:nth-child(2) {
  display: none;
}

.hamburger > .toggle:first-child {
  transform: rotateY(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(45deg, #ffbe0b 0%, #fb5607 100%);
}

.main {
  position: absolute;
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
}

.main_bg {
  background-color: rgba(247, 247, 252, 1);
}

.divider {
  display: none;
  height: 2px;
  background: var(--primary);
  opacity: 0.5;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.footer > a {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  color: #000;
  font-weight: 600;
}

.footer_text > p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-align: center;
  width: calc(100vw - 1rem);
}

.footer_text > p > a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .divider {
    display: block;
    margin-top: 1rem;
  }

  .nav_bar {
    margin-top: 0.5em;
    padding: 4px 0;
    position: relative;
  }

  .nav_menu {
    top: 131%;
    width: 60%;
    height: 57vh;
  }
}
